.app {
    height: 100vh;
    display: flex;
    position: relative;
}

/* header btns */
#header-open-btn {
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translate(5px, 25px);
    transition: 0.4s;
}

#header-open-btn[data-state="hidden"] {
    transform: translate(calc(-1 * calc(100% + 5px)), 25px);
}